.salads {
  margin: 0 40px;
  display: flex;
  flex-flow: column;
  > a {
    margin-bottom: 20px;
  }
  > div {
    margin-bottom: 20px;
    display: flex;
    flex-flow: column;
    > button, a {
      margin-top: 10px;
      width: 100%;
    }
  }
}
