.container{
  display: flex;
  margin: 0 50px;
  flex-flow: column;
  input{
    border: none;
    font-size: 23px;
    border-bottom: 1px solid rgb(104, 104, 104);
    margin-bottom: 20px;
    outline: none;
  }
  button{
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    background: #3a0b55;
    height: 50px;
    border-radius: 20px;
    width: 100%;
    margin-top: 20px;
    line-height: 50px;
    text-align: center;
    border: none;
    outline: none;
  }
}